<?xml version="1.0"?>
<configuration>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <!--<connectionStrings>
    <add name="TreeEntities" connectionString="metadata=res://*/Models.TreeModel.TreeModel.csdl|res://*/Models.TreeModel.TreeModel.ssdl|res://*/Models.TreeModel.TreeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=61.183.9.107;Initial Catalog=vehicle;User ID=vehicle;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BasicTypesEntities" connectionString="metadata=res://*/Models.BasicTypesModel.csdl|res://*/Models.BasicTypesModel.ssdl|res://*/Models.BasicTypesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=61.183.9.107;Initial Catalog=vehicle;User ID=vehicle;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="vehicleBasicDetailInfoEntities" connectionString="metadata=res://*/Models.VehicleBasicDetailInfoModel.csdl|res://*/Models.VehicleBasicDetailInfoModel.ssdl|res://*/Models.VehicleBasicDetailInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=61.183.9.107;Initial Catalog=vehicle;User ID=vehicle;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <system.serviceModel>
    
   
    <bindings>
      <basicHttpBinding>
            <binding name="BasicHttpBinding_IDBHelper" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                     sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false"
                     hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647"
                     maxBufferPoolSize="2147483647"   maxReceivedMessageSize="2147483647"
                     messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
                     useDefaultWebProxy="true">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
            <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://61.183.9.107:4013/DBHelper.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDBHelper" contract="DBWCFServices.IDBHelper"
        name="BasicHttpBinding_IDBHelper" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VehicleGPS.Service_References.DBService">
        <endpoint address="" binding="wsHttpBinding" contract="VehicleGPS.Service_References.IDBService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/VehicleGPS.Service_References/DBService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
